body {
    margin: 0px auto;

    width: auto;
    max-width: 600px;
    padding: 0px 32px;

    display: flex;
    flex-direction: column;

    font-family: sans-serif;
}

section {
    display: flex;
    flex-direction: column;
}

label {
    padding: 16px 0px 8px;
}

textarea {
    resize: vertical;

    min-height: 48px;
}

input {
    min-height: 24px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: lightgray;
}

input[type="radio"]:hover + label {
    background-color: cornflowerblue;
}

#reqSection {
    display: flex;
    flex-direction: row;
}

#reqSection > label {
    cursor: pointer;

    display: inline-block;
    margin-right: 0.2rem;
    padding: 0.5rem 1rem;
}

#submitSection > input {
    max-width: 160px;
    min-width: 80px;
    height: 32px;

    margin: 16px 0px 0px;
}

#sendReq {
    border: none;
    cursor: pointer;

    background-color: lightgray;
}

#sendReq:hover {
    background-color: cornflowerblue;
}

#response {
    font-family: monospace;

    background-color: aliceblue;
    padding: 8px;

    overflow-x: auto;
}
